<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body>
  <div class="flex min-h-full">
    <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div class="flex justify-center">
          <div>
            <img class="h-12 w-auto" src="../static/logotipo.png" alt="Your Company">
          </div>

        </div>
        <div class="flex justify-center">
          
          <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Bienvenido!</h2>
        </div>
  
        <div class="mt-8">
          <div>
            
  
            <div class="relative mt-6">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-300"></div>
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="bg-white px-2 text-gray-500"></span>
              </div>
            </div>
          </div>
  
          <div class="mt-6">
            <form method="POST" class="space-y-6">
              <div>
                <label for="cedula" class="block text-sm font-medium text-gray-700">Numero de Cedula</label>
                <div class="mt-1">
                  <input id="cedula" name="cedula" type="text" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
              </div>
  
              <div class="space-y-1">
                <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
                <div class="mt-1">
                  <input id="password" name="password" type="password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
              </div>

              <div>
                <input type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" value="Iniciar sesion">
              </div>
  
              <div class="flex items-center justify-between">
                
  
                <div class="text-sm">
                  <a href="{{url_for('register')}}" class="font-medium text-indigo-600 hover:text-indigo-500">¿No tienes una cuenta? Crea una. </a>
                </div>
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
      <img class="absolute inset-0 h-full w-full object-cover" src="../static/inge.jpg" alt="">
    </div>
  </div>
</body>
</html>