<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body>
    <form action="" method="post">
        <h1>Registro</h1> <br>
        <label>Cedula</label> <input name="cedula" type="number"> <br>
        <label>Password</label> <input name="password" type="password"> <br>
        <label>Nombre</label> <input name="nombre"> <br>
        <label>Apellido</label> <input name="apellido"> <br>
        <label>Tipo de sangre</label> <input name="tipo_sangre"> <br>
        <label>Enfermedad de base</label> <input name="enfermedad_base"> <br>
        <label>Alergia</label> <input name="alergia"> <br>
        <label>Seguro médico</label> <input name="seguro_medico"> <br>
        <h2>Datos de Contacto</h2> <br>
        <label>Contacto</label> <input name="contacto"> <br>
        <label>Teléfono</label> <input name="telefono" type="tel"> <br>
        <label>Parentesco</label> <input name="parentesco"> <br>
        <input type="submit" value="Enviar">

    </form>
</body>

</html>